[submodule "cgi-bin/exportArticle/templates"]
	path = cgi-bin/exportArticle/templates
	url = git@framagit.org:ecrinum/templates-stylo.git
[submodule "cgi-bin/exportArticleSP/templates"]
	path = cgi-bin/exportArticleSP/templates
	url = git@framagit.org:ecrinum/templates-sp.git
